.icon-menu{

    font-size: 1.5rem;
}

.nav-link
{
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.imagen-producto
{
    max-width: 150px;
}


.list-pro
{
    margin-top: 15px;
    margin-bottom: 15px;
}